/* CSS */
body {
  background-color: black; /* Set background color to black */
  height: 100vh; /* Set body height to 100% of viewport height */
  margin: 0rem; /* Remove default margin */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

@keyframes rotate {
  from {
      rotate: 0deg; /* Initial rotation angle */
  }
  50% {
      scale: 1 1.5; /* Scale the blob to 1.5 times its original size at 50% of animation */
  }
  to {
      rotate: 360deg; /* Rotate the blob by 360 degrees at the end of animation */
}
}

#blob {
  background-color: white; /* Set background color of the blob to white */
  height: 34vmax; /* Set height of the blob relative to the viewport maximum */
  aspect-ratio: 1; /* Set aspect ratio of the blob to maintain a square shape */
  position: absolute; /* Position the blob absolutely within its container */
  left: 50%; /* Position the blob horizontally at the center of its container */
  top: 50%; /* Position the blob vertically at the center of its container */
  translate: -50% -50%; /* Translate the blob to center it precisely */
  border-radius: 50%; /* Make the blob a perfect circle by setting border-radius to 50% */
  background: linear-gradient(to right, magenta, darkblue); /* Apply a linear gradient background */
  animation: rotate 20s infinite; /* Apply the rotate animation to the blob with a duration of 20 seconds and repeat infinitely */
  opacity: 0.8; /* Set opacity of the blob to 0.8 */
}

#blur {
  height: 100%; /* Set height of the blur element to cover the entire viewport */
  width: 100%; /* Set width of the blur element to cover the entire viewport */
  position: absolute; /* Position the blur element absolutely within its container */
  z-index: 2; /* Set z-index to ensure it appears above other content */
  backdrop-filter: blur(12vmax); /* Apply a blur effect to the background of the blur element */
}







/*body {
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden; 
  }
  
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }